.featurecontainer{
    background: url('../../images/banner2.png');
    height:100vh;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #120707;
    text-align: center;
    padding: 0 1rem;
}
